.header{
    border: 2px solid black;
    display: flex;
}
.header>ul{
    list-style: none;
    display: flex;
    position: relative;
    right: -300px;
    
}
.logo{
    position: relative;
    margin-left: 50px;  
}
#logo{
    color: blue;
}
.header>ul>li{
    margin-right: 70px;
    font-size: larger;
    
    
}
.header>ul>li>button{
    position: relative;
    right: 30px;
    padding: 20px;
    width: 140px;
    color: white;
    background-color: blue;
    font-size: large;
    border: blue;
}


.sectionone{
    border: 2px solid black;
    height: 600px;
    text-align: center;
    background-image: url("images/bg.png");
    background-position: center;
    background-size: cover;
}
.items1{
    position: relative;
    top: 100px;
    color: white;
    font-size: x-large;
}
.buttons1>button{
    width: 200px;
    color: white;
    height: 50px;
    margin-right: 50px;
}
#our{
    background-color: blue;
}
#get{
    background: none;
    border: 1px solid white;
}


.sectiontwo{
    border: 2px solid red;
    height: 425px;
    display: flex;
}
.sectiontwo>.content2>img{
    position: relative;
    right: -250px;
    top: 28px;
}
.content1{
position: relative;
left: 130px;
top: 45px;
}
#started{
    width: 200px;
    height: 50px;
    color: white;
    background-color: blue;
    border: blue;
}


.sectionthree{
    border: none;
    height: 380px;
    background-image: url("images/Rectangle\ 11.png");
    background-position: center;
    background-size: cover;
    color: white;
    justify-content: center;
}
.sectionthree>.content3{
   text-align: center;
   position: relative;
   top: 50px;
}
.content3>h2{
    font-size: xx-large;
    font-weight: bold;
}
.sectionthree>#touch{
    width: 200px;
    height: 50px;
    color: white;
    background-color: blue;
    border: blue;
    position: relative;
    left: 550px;
    bottom: -60px;
    
}



.sectionfour{
    border: none;
    height: 530px;

   
    
}
.card{
    border: 1px solid gray;
    width: 350px;
    height: 320px;
    border-radius: 5px;
    box-shadow: 0px 2px grey
    
}
.content4{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 50px;
}
.sectionfour>h3{
    text-align: center;
    font-size: xx-large;
}
.card>p{
    position: relative;
    left: 20px;
}



.sectionfive{
    border: 1px solid blue;
    height: 550px;
    display: flex;
    background-color: blue;
    color: white;
}
.content5{
    position: relative;
    left: 150px;
    top: 50px;
}
.content6{
border: 1px solid white;
width: 450px;
background-color: white;
color: black;
height: 400px;
position: relative;
right: -350px;
top: 50px;
}
#form{
    position: relative;
    left: 50px;
}
input[type=text]{
    width: 300px;
}
#lname1{
    height: 100px;
    
}
#lastbtn{
    background-color: blue;
    color: white;
    height: 35px;
    width: 150px;
    position: relative;
    left: 120px;
    border: 1px solid blue;

}